# Xcode
DerivedData/
build/
*.xcworkspace
!default.xcworkspace

# Swift Package Manager
.swiftpm/
Packages/
Package.resolved

# CocoaPods
Pods/
*.xcuserstate

# User-specific files
*.DS_Store
*.swp
*.lock
*.log

# Assets
*.xcassets/*/Contents.json
!*.xcassets/*/Contents.json
